<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style type="text/css">
     html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
  </style>
</head>
<body>
<section class="intro">
    <div class="bg-image h-100" style="background-color: #6095F0;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <a href="home.html" class="btn btn-success">View Student</a>
                        <a href="" class="btn btn-success">View Attendance</a>
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class=" table thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>firstname</th>
                                            <th>lastname</th>
                                            <th>Student Id</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="user : ${student_table}">
                                            <tr>
                                                <td>[[${user.id}]]</td>
                                                <td>[[${user.firstname}]]</td>
                                                <td>[[${user.lastname}]]</td>
                                                <td>[[${user.stid}]]</td>
                                                <td>
                                                    <a class="btn btn-primary" th:href="@{/editStudent/{id}(id=${user.id})}">Edit</a>
                                                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
                                                </td>
                                            </tr>

                                        </th:block>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>